---
layout: default
---

<div class="home">

  
<!--
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
-->
<header class="post-header">
	<h1 class="post-title">Welcome to my personal page</h1>
</header>
<div class="post-content">
<img src="images/Rounded-Me2.png" alt="This is me" style="width:200px;height:200px;float: right;">
<p>Thanks for your visit! My name is <b>José Manuel Abuín Mosquera</b>. I am a software developer, computer engineer and researcher. Nowadays I work as Post-Doctoral researcher at <a href = "http://citius.usc.es" target="_blank">CiTIUS</a> and <a href = "https://ipca.pt/" target="_blank">IPCA</a>.</p>

<p>Previously I worked in different places as computer scientist, engineer and researcher. You can find more information about my professional career at the <a href="http://jmabuin.github.io/shortcv/">Short CV</a> section.
<p>My main interests are focused on <ul>
<li><a href="https://en.wikipedia.org/wiki/Supercomputer" target="_blank">High Performance Computing.</a></li>
<li><a href="https://en.wikipedia.org/wiki/Big_data" target="_blank">Big Data</a>.</li>
<li><a href="https://en.wikipedia.org/wiki/Parallel_computing" target="_blank">Parallel Computing.</a></li>
<li><a href="https://en.wikipedia.org/wiki/Open-source_software_development" target="_blank">Open Source Development.</a></li>
<li><a href="https://en.wikipedia.org/wiki/Bioinformatics" target="_blank">Bioinformatics</a> and <a href="https://en.wikipedia.org/wiki/Genomics" target="_blank">genomics</a></li>
<li>Optimization of <a href="https://en.wikipedia.org/wiki/Scientific_modelling" target="_blank">scientific modelling</a> software</li>
<li>Irregular and <a href="https://en.wikipedia.org/wiki/Sparse_matrix" target="_blank">sparse matrix</a> problems.</li>
</p>

<p>To summarize, I am a software developer and a <a href="https://en.wikipedia.org/wiki/Linux" target="_blank">Linux</a> and <a href="https://en.wikipedia.org/wiki/Open-source_software" target="_blank">Open Source Software</a> fan. You can find more information about in this page.</p>
</div>
</div>
