<footer class="site-footer">

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <!-- <li>{{ site.title }}</li> -->
          <li><a href="mailto:{{ site.email }}"><i class="fa fa-envelope" aria-hidden="true"></i> {{ site.email }}</a></li>
          {% if site.linkedin_username %}
          <li>
          <a href="http://linkedin.com/in/{{ site.linkedin_username }}" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i> {{ site.linkedin_username }}</a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
          <a href="https://github.com/{{ site.github_username }}" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> {{ site.github_username }}</a>
          </li>
          <!-- <li>
            {% include icon-github.html username=site.github_username %}
          </li> -->
          {% endif %}

          {% if site.twitter_username %}
          
	  <li>
          <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> {{ site.twitter_username }}</a>
          </li>
          <!--<li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          -->
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
